html {
    height: 100%;
}

body {
    padding-bottom: 200px;
    text-align: center;
    background-color:#F5F1E3;
    height: 100%;
}

table {
    margin: auto;
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    width: 250px;
    height: 50px;
}

/* Controls head of TV Guide table. */
#title {
    height: 100px;
}

/* Controls style for "No shows at this time" message. */
#tablefoot {
    text-transform: uppercase;
    margin-bottom: 0;
    height: 20px;
}

/* Controls styling for today's date and time.*/
#clock {
    display: inline;
    margin-left: 5px;
}

a {
    color:050505;
}

#tvTable {
    border: 2px dotted red;
    width: 300px;
}

.navbar {
    display:flex;
    justify-content: center;
    top:0;
    right: 0;
    left: 0;
    position: fixed;  
    overflow: hidden;
    background-color:white;
    font-family: Arial;
    z-index: 5;
    color:#1B9AAA;
}
 
/* Links inside the navbar */
.navbar a {
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover{
  color:#1B9AAA;
}

.footer {
    position: fixed;
    right: 0;
    color:black;
    bottom: 0;
    padding-right:10px;
    left: 0;
    z-index: 5;
    background-color:rgb(172, 172, 172);
    opacity: .5;
    text-align: right;  
}

.flex-containerHome {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    
}

.flex-schedule {
    border-right: 4px solid black;
    padding-right: 30px;
}

.flex-popular{
    
 }

.mainbody {
    margin-top: 100px;
}

.divider{
    width: 3px;
    margin: 2px 0;
    height: 100%;
    background-color:black;
}

#popular {
    width: 50vw;
}

#pop-map {
    margin: 5px;
    display: inline-block;
}

#pop-img {
    height: 250px;
    width: auto;
}

#popular a {
    padding: none;
}