.Blurb{
     text-align: left;
     font-size: 20px;
} 
/*This is just the summary of the TV Info */

#sum{
    width:400px;
}

.Info-img{
    padding-top:20px;
    height: 600px;
    position: relative;
}
