.Wait-Page{
  display: flex;
  flex-flow: row wrap;
}

.Summary{
 padding-top:30px;
 padding-left: 80px;
 padding-right: 50px;   
 padding-bottom: 30px;
 font-size: 25px;
 color: black;
 text-align: left;
}

.title{
 font-weight: bold;
}

.blurb{
 margin:40px;
 width:375px;
 text-align: left;
 
}


.Wait-img{
 padding-top:30px;
 padding-bottom:70px; 
}


.Wait-Bottom{
 display: flex;
 flex-flow: column wrap; 
 justify-content: center;
 font-size: 40px;
 /* border-bottom:1px solid black; */
 box-shadow: 0 6px 7px -6px #222;
 color: black;
 width:100vw;  
}

.timer {
 font-size: 100px;
 color:black;
 text-align: center;
}

.number{
 background-color:#1B9AAA;
 box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
 color:#050505;
 padding: 0 5px;
 border-radius: 5px;
 width: 60px;
 text-align: center;
} 