.Wait-Page{
  display: flex;
  flex-flow: row wrap;  
  width:100vw;
}

.flex-container{
  width:100vw;
}
.Summary{
 font-size: 20px;
 color: black;
 text-align: left;
 overflow-y: scroll;
}

.title{
 font-weight: bold;
}

/* .sum{
  overflow-y: scroll;
  height: 300px;
  width: 500px;
} */
.blurb{
 margin:40px;
 width:375px;
 text-align: left;

}


.Wait-img{
 padding-top:30px;
 padding-bottom:70px; 
 height: 450px;
 width: 350px
}


.Wait-Bottom{
 display: flex;
 flex-flow: column wrap; 
 justify-content: center;
 font-size: 40px;
 /* border-bottom:1px solid black; */
 box-shadow: 0 6px 7px -6px #222;
 color: black;
}

.timer {
 font-size: 100px;
 color:black;
 width: 100vw;
 text-align: center;
}

.number{
 background-color:#1B9AAA;
 box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
 color:#050505;
 font-size: 100px;
 padding: 0 5px;
 border-radius: 5px;
 width: 60px;
 text-align: center;
} 