html {
    height: 100%;
}

body {
    padding-bottom: 200px;
    text-align: center;
    background-color:#F5F1E3;
    height: 100%;
    color:black;
    overflow-x:hidden;
    
}

table {
    margin: auto;
}

.homeclock{
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(189, 187, 187);
}

.popular-title {
    text-align: center;
    width:100vw;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(189, 187, 187);
}
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    background-color:#FFFFFF;
    text-align: center;
    height:20px;
    font-size:25px;
}

.schedule-table{
    overflow-y:auto;
    height: 50vh;
    width:95vw;
    text-align: center;
}
 th {
    width: 250px;
    height: 30px;
    background-color:white;
}

/* Controls head of TV Guide table. */
#title {
    height: 100px;
    background-color: #1b9AAA;
}

/* Controls style for "No shows at this time" message. */
#tablefoot {
    text-transform: uppercase;
    margin-bottom: 0;
    background-color: #1B9AAA;
    height: 10px;
}

/* Controls styling for today's date and time.*/
#clock {
    display: inline;
    margin-left: 5px;
}

a {
    color:#fb6542;
}

.iconSize{
    font-size:10px;
}

#tvTable {
    border: 2px dotted red;
    width: 300px;
}


.navbarColor {
    background-color: #1b99aa;
    box-shadow: 10px 2px 8px 0px, #333;
    color:white;
    font-size:20px;
  }
  
  .text{
    color:white;
  }
  
  .nav-itemColor{
    color:white;
    text-transform: uppercase;
  }
  
  .nav-itemColor:hover{
    background-color:#DDDBCB;
    color:white;
  }
  .h1 {
    text-align: center;
    color:black;
  }
  
.footer {
    position: fixed;
    right: 0;
    color:black;
    bottom: 0;
    padding-right:10px;
    left: 0;
    z-index: 5;
    background-color:rgb(172, 172, 172);
    opacity: .5;
    text-align: right;  
}


.mainbody {
    margin-top: 60px;
}

.divider{
    width: 3px;
    margin: 2px 0;
    height: 100%;
    background-color:black;
}

.arrow{
    color:gray;
}



#popular {
    width: 50vw;
    text-align: center;
}

.popular2{
    width:90vw;  
    margin-left:50px;
    color: black;
}
#pop-map {
    margin: 5px;
    display: inline-block;
}

#pop-img {
    height: 250px;
    width: auto;
}

#popular a {
    padding: none;
}

.colorFONT{
    color:black;
}

/* Controls color of arrows on Popular Shows slider carousel. */
.slick-arrow:before {
    color: #1B9AAA!important;
}