@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js");

.blurb{
     text-align: left;
     font-size: 20px;
     color:black;
} 
/*This is just the summary of the TV Info */

#sum{
    width:300px;
    color:black;
}

.backbtn{
    background: #FB6542;
    color:#f5f1e3;
}
.second-half{
    margin-top:0;
    height:100vh;
}
.info-col{
height: 100vh;
padding-top:72px;
width:250px;
}

.jumbo{
    width:50vw;

}

.showname {
    font-size: 35px;
    text-shadow: 2px 2px 2px rgb(189, 187, 187);
}

h4{
 text-align: left;
}
.image-col{
    height:100vh;
}
.Chat-pg {
    width:100vw;
    color:black;
}
.Info-img{
    padding-top:20px;
    padding-bottom: 20px;
    height: 500px;
    width: 300px;
}

.LogNChat{
    height:90vh;
    width:550px;
    margin-top:-4px;
}

.Wait-img{
    padding-top:20px;
    padding-bottom: 20px;
    margin-left:15px;
    height: 550px;
    width: 350px;
}

.backButton{
    color:white;
    background-color:#1B9AAA;
    font-size:20px;

}